@font-face {
  font-family: AmsiPro;
  src: url(contents/FontsFree-Net-AmsiPro-Regular.ttf);
}

@font-face {
  font-family: AmsiProCond;
  src: url(contents/FontsFree-Net-AmsiProCond-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fundo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.bg {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logos {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.feijoada {
  width: 15%;
}

.rock {
  width: 15%;
}

.skol {
  width: 15%;
}

.peixada {
  width: 15%;
}

@media only screen and (min-width: 1200px) {
  .logos {
    width: 100%;
  }
  .feijoada {
    width: 15%;
  }
  .rock {
    width: 15%;
  }
  .skol {
    width: 15%;
  }
  .peixada {
    width: 15%;
  }
}

.container-mapas {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28%;;
  background-color: #edd51a;
}

.icone-mapa {
  width: 13%;
  margin-bottom: 10px;
}

.button {
  width: 80%;
}

.button:hover {
  opacity: 0.6;
}

.icones {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 1rem;
}

.buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 0;
}

@media only screen and (min-width: 900px) {
  .icone-mapa {
    width: 20%;
  }
  .button {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .icones {
    width: 100%;
  }
  .icone-mapa {
    width: 15%;
  }
  .buttons {
    width: 100%;
    right: 2.5rem;
  }
  .button {
    width: 120%;
  }
}

.container-sobre {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-botao {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  margin: 0.5rem 0 1rem 0;
  font-size: 3rem;
  font-family: "AmsiProCond";
  color: #414042;
}

.sobre {
  text-align: left;
  font-size: 1rem;
  font-family: "AmsiPro";
  color: #414042;
}

.logo-sobre {
  width: 60%;
  margin-bottom: 1rem;
}

.button-sobre {
  margin: 1rem 0 1rem 0;
}

.button-sobre:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 1200px) {
  .container-sobre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "texto-botao logo";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .titulo {
    font-size: 6rem;
  }
  .sobre {
    font-size: 2rem;
  }
  .texto-botao {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: texto-botao;
    width: 100%;
    margin-left: 20px;
  }
  .logo-sobre {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logo;
    width: 70%;
    margin-left: 6rem;
  }
}

@media only screen and (min-width: 2000px) {
  .logo-sobre {
    width: 40%;
    margin-left: 20rem;
  }
  .texto-botao {
    margin-left: 10rem;
  }
}

.localizacao {
  background-color: #1a6eab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ponto {
  width: 5%;
}

.frase {
  color: #fff;
  font-family: "AmsiProCond";
  font-size: 2rem;
  margin-left: 1rem;
}

@media only screen and (min-width: 800px) {
  .ponto {
    width: 3%;
  }
}

@media only screen and (min-width: 800px) {
  .ponto {
    width: 1.4%;
  }
}

.mapa {
  width: 100%;
}

.patrocinadores {
  width: 100%;
}

.container-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bg {
  width: 100%;
}

.icones-sociais {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 2rem;
  width: 20%;
}

.sociais {
  width: 60%;
}

.sociais:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 1200px) {
  .icones-sociais {
    width: 20%;
    right: 4rem;
  }
  .sociais {
    width: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  .icones-sociais {
    width: 10%;
    right: 16rem;
  }
  .sociais {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
